body {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.unified {
  background: #7bb7b4;
}

.welcome h2 {
  font-size: 1.2rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-input {
  width: calc(100%); /* Adjust based on the width of the icon */
  height: 2.5rem;
  border: transparent !important;
  background: #f2f3f2;
}
.search-input:hover {
  border-color: #7bb7b4;
}
.search-input::placeholder {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.search-btn {
  position: absolute;
  right: 0%;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.material-icons {
  font-size: 18px;
  color: black;
}

/* .cuisine-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
} */
/* .select-cuisine-section {
  width: 100%;
} */

.cuisine-item {
  text-align: center;
}

.cuisine-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.cuisine-name {
  font-weight: bold;
}

.icon-list {
  font-size: 3rem;
}

.icon-text {
  font-size: 0.75rem;
  font-weight: 900;
}

.additional-icon-text {
  font-size: 0.5rem;
}

.search-results {
  background: #7bb7b4;
}

.card-body {
  background: #b5f5f2;
}

.additional-icons-section {
  background: white;
}
